<div class="container">
  <h1>MESSAGES WITH <%= @run.user.first_name.upcase %></h1>
  <% @messages.each do |message| %>
    <div class="row">
      <div class="col-xs-12">
        <% if message.user == current_user %>
          <div class="messages text-right">
            <P><%= message.id %> | <%= message.content %> </p>
            <p><small><%= message.user.first_name %></small></p>
          </div>
        <% else %>
          <div class="messages">
            <P><%= message.id %> | <%= message.content %> </p>
            <p><small><%= message.user.first_name %></small></p>
            </div>
        <% end %>

      </div>
    </div>
  <% end %>
  <div class="message-input">
    <%= render "messages/form", run: @run, message: @message  %>
  </div>
</div>

<%= link_to "BACK TO RUN", run_path(@run), class: " btn btn-default" %>

