<div class="messages-container">
  <h1><%= link_to @run.title.upcase, run_path(@run) %> - HOSTED BY <%= @run.user.first_name.upcase %></h1>
  <h2><%= @run.location.upcase %> | <%= @run.date.strftime("%b %d %Y").upcase %> | <%= @run.time.strftime("%l:%M %p") %></h2>

  <div id="all-run-messages">
    <%= render "messages/container", messages: @messages %>
  </div>

  <div class="message-input">
    <%= render "messages/form", run: @run, message: @message  %>
  </div>
</div>

<%= content_for(:title, "Messages") %>
