<div class="dashboard-container">

  <%= cl_image_tag @user.photo %>
  <h1><%= @user.first_name.upcase %> <%= @user.last_name.upcase %></h1>

  <div class="status">
    <%= @status %>
  </div>


  <div class="stats">
    <p>Total Runs: <%= @user.runs.count %></p>

    <% sum_of_dist = 0 %>

    <% @user.runs.each do |run| %>
     <% sum_of_dist += run.run_distance %>
     <%# sum_of_dist += distance %>
    <% end %>
    <p>Total Distance Covered: <%= sum_of_dist %></p>

 </div>

  <div class="achievements">
    <p>Longest Run:</p>
    <p>Longest Distance:</p>
   </div>

  <div class="history">
    <p>Hosted Runs: <%= @hosted %></p>
    <p>Upcoming Runs: <%= @upcoming %></p>
    <p>Past Runs: </p>
  </div>

  <%= link_to "Edit", edit_user_registration_path, class: "btn btn-default" %>
</div>

<%= content_for(:title, "Dashboard") %>


  <!--  <p>Fastest Pace:</p> -->
  <!--  <p>Average Pace: </p> -->
