<div class="dashboard-container">

  <div class="dashboard-header">
    <!-- Profile Summary -->
    <div class="profile">
      <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
      <%= cl_image_tag avatar_url, class: "dashboard-photo" %>
      <h4>
        <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </h4>
      <p>Member since <%= @user.created_at.strftime("%B %Y") %> &nbsp | &nbsp <%= @user.location %></p>
    </div>

    <!-- Stats -->
    <div class="stats">
      <!-- Hosted Runs -->
      <div class="stat">
        <h3><%= @user.runs.count %></h3>
        <h4>RUNS HOSTED</h4>
      </div>

      <!-- Total Distance -->
      <div class="stat">
        <% distance_sum = 0 %>
        <% @user.runs.each do |run| %>
         <% distance_sum += run.run_distance %>
        <% end %>
        <h3><%= number_with_delimiter(distance_sum) %></h3>
        <h4>KILOMETRES RUN</h4>
      </div>

      <!-- Total Time -->
      <div class="stat">
        <% time_sum = 0 %>
        <% @user.runs.each do |run| %>
          <% time_calc = run.run_distance.to_i % run.pace.to_i %>
          <% time_sum += time_calc.to_i %>
        <% end %>
        <h3><%= number_with_delimiter(time_sum) %></h3>
        <h4>MINUTES TRAINED</h4>
      </div>
    </div>
  </div>

<!-- Status -->
<!--   <div class="status">
    <%#last_trip = (@user.bookings.last.run.date - Date.today).to_i %>
    <%#if last_trip < 0 %>
      <p>It's been <%=# -last_trip %> days since you ran!</p>
    <%#else %>
      <p>Get ready for your next run in <%= last_trip %> days!</p>
    <%#end %>
  </div> -->

  <!-- Run History -->
  <div class="history breather">
    <h3>RUN HISTORY</h3>
    <!-- Tabs -->
    <div class="tabs">
      <a href="#" class="tab">ALL (<%= @user.runs.count.to_i + @user.bookings.count.to_i %>)</a>
      <a href="#" class="tab">HOSTING (<%= @user.runs.count %>)</a>
      <a href="#" class="tab">UPCOMING</a>
      <a href="#" class="tab">PAST</a>
    </div>
    <div class="logs">
      <!-- All Runs -->
      <div class="non-host-runs">
      </div>
      <!-- Hosted Runs -->
      <div class="host-runs">
        <ul class="log">
          <% @user.runs.each do |run| %>
            <li class="flex">
              <div class="log-left">
                <p>CONFIRMED RUNNERS: <%= run.bookings.count %></p>
                <ul class="list-inline">
                  <li>
                    <%= link_to runs_path do %>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to runs_path do %>
                      <p><i class="fa fa-pencil" aria-hidden="true"></i></p>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to runs_path do %>
                      <p><i class="fa fa-trash" aria-hidden="true"></i></p>
                    <% end %>
                  </li>
                </ul>
              </div>
              <div class="log-middle">
                <h5><%= run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
              </div>
              <div class="log-right">
                <p><%= run.date.strftime("%b %d %Y").upcase %></p>
                <p><%= run.time.strftime("%l:%M %p") %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- Upcoming Runs -->
      <div class="non-host-runs">
        <ul class="log">
          <% @user.bookings.each do |booking| %>
            <% if booking.run.date >= Date.today - 1 %>
              <li class="flex">
                <div class="log-left">
                  <div class="left-photo">
                    <%= cl_image_tag booking.run.user.photo, class: "history-photo" %>
                  </div>
                  <div class="left-info">
                    <p><%= booking.run.user.first_name.upcase %> <%= booking.run.user.last_name.upcase %></p>
                    <ul class="list-inline">
                      <li>
                        <%= link_to runs_path do %>
                          <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to runs_path do %>
                          <p><i class="fa fa-trash" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="log-middle">
                  <h5><%= booking.run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                  <p><%= booking.run.location.upcase.match(/^(.+?),/).to_s %> <%= booking.run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                </div>
                <div class="log-right">
                  <p><%= booking.run.date.strftime("%b %d %Y").upcase %></p>
                  <p><%= booking.run.time.strftime("%l:%M %p") %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <!-- Past Runs -->
      <div class="non-host-runs">
        <ul class="log">
          <% @user.bookings.each do |booking| %>
            <% if booking.run.date < Date.today - 1 %>
              <li class="flex">
                <div class="log-left">
                  <div class="left-photo">
                    <%= cl_image_tag booking.run.user.photo, class: "history-photo" %>
                  </div>
                  <div class="left-info">
                    <p><%= booking.run.user.first_name.upcase %> <%= booking.run.user.last_name.upcase %></p>
                    <ul class="list-inline">
                      <li>
                        <%= link_to runs_path do %>
                          <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to runs_path do %>
                          <p><i class="fa fa-trash" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="log-middle">
                  <h5><%= booking.run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                  <p><%= booking.run.location.upcase.match(/^(.+?),/).to_s %> <%= booking.run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                </div>
                <div class="log-right">
                  <p><%= booking.run.date.strftime("%b %d %Y").upcase %></p>
                  <p><%= booking.run.time.strftime("%l:%M %p") %></p>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Achievements -->
  <div class="achievements breather">
    <h3>ACHIEVEMENTS</h3>
    <div class="achievements-flex">
      <!-- Farthest Run -->
      <div class="achievement">
        <% distances = [] %>
        <% @user.runs.each do |run| %>
          <% distance = run.run_distance %>
          <% distances << distance %>
        <% end %>
        <% if distances == [] %>
          <div class="no-border"></div>
        <% else %>
          <div class="border">
            <h4><%= distances.max %></h4>
            <h5>KILOMETRES</h5>
            <p>FARTHEST RUN</p>
          </div>
        <% end %>
      </div>

      <!-- Longest Run -->
      <div class="achievement">
        <% times = [] %>
        <% @user.runs.each do |run| %>
          <% time_calc = run.run_distance.to_i % run.pace.to_i %>
          <% times << time_calc.to_i %>
        <% end %>
        <% if times == [] %>
          <div class="no-border">
            <h2><i class="fa fa-meh-o" aria-hidden="true"></i></h2>
          </div>
        <% else %>
          <div class="border">
            <h4><%= times.max %></h4>
            <h5>MINUTES</h5>
            <p>LONGEST RUN</p>
          </div>
        <% end %>
      </div>

      <!-- Fastest Run -->
      <div class="achievement">
        <% paces = [] %>
        <% @user.runs.each do |run| %>
          <% pace = run.pace %>
          <% paces << pace %>
        <% end %>
        <% if paces == [] %>
          <div class="no-border"></div>
        <% else %>
          <div class="border">
            <h4><%= paces.min.strftime("%H:%M") %></h4>
            <h5>MIN/KM</h5>
            <p>FASTEST RUN</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:title, "Dashboard") %>
