<div class="dashboard-container">

  <div class="dashboard-header">
    <!-- Profile Summary -->
    <div class="profile">
      <% avatar_url = @user.facebook_picture_url || @user.photo %>
      <%= cl_image_tag avatar_url, class: "dashboard-photo" %>
      <h4>
        <%= @user.first_name.upcase %> <%= @user.last_name.upcase %> &nbsp
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </h4>
      <p>
        Member since <%= @user.created_at.strftime("%B %Y") %>
        <% if @user.location? %>
          &nbsp | &nbsp <%= @user.location %>
        <% end %>
        <br>
      </p>
      <div class="user-sociability" id="sociability" >
        <p>
          <!-- Profile Sociability -->
          <% if @user.sociability.nil? %>
            <a href="#" data-toggle="tooltip" data-placement="bottom"  title="No reviews yet.">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp
              <%= @user.reviews.where(punctuality: true).count %>
            </a>
          <% else %>
            <% if @user.sociability === 1 %>
              <a href="#" data-toggle="tooltip" data-placement="bottom"  title="I'm fully focused on the run!">Sociability: &nbsp
                <i class="fa fa-headphones" aria-hidden="true"></i>
              </a>
            <% elsif @user.sociability === 2 %>
              <a href="#" data-toggle="tooltip" data-placement="bottom"  title="I occasionally enjoy a brief chat">Sociability: &nbsp
                <i class="fa fa-smile-o" aria-hidden="true"></i>
              </a>
            <% else @user.sociability === 3 %>
              <a href="#" data-toggle="tooltip" data-placement="bottom"  title="What's a run without any banter?">Sociability: &nbsp
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </a>
            <% end %> &nbsp | &nbsp
            <!-- Profile Review -->
            <% if @user.reviews.where(punctuality: true).count === 0 %>
              <a href="#" data-toggle="tooltip" data-placement="bottom"  title="No review yet.">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp
                <%= @user.reviews.where(punctuality: true).count %></a>
            <% else %>
              <a href="#" data-toggle="tooltip" data-placement="bottom"  title="Punctuality is my middle name!">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp
              <%= @user.reviews.where(punctuality: true).count %></a>
            <% end %>
          <% end %>

        </p>
      </div>
    </div>

    <!-- Logic #1 -->
    <% all_runs = [] %>
    <% @user.runs.each do |run| %>
      <% all_runs << run %>
    <% end %>
    <% @user.bookings.each do |booking| %>
      <% all_runs << booking.run %>
    <% end %>

    <!-- Logic #2 -->
    <% hosting_count = 0 %>
    <% hosted_count = 0 %>
    <% @user.runs.each do |run| %>
      <% if run.date > Date.today - 1 %>
        <% hosting_count += 1 %>
      <% else %>
        <% hosted_count += 1 %>
      <% end %>
    <% end %>

    <% upcoming_count = 0 %>
    <% past_count = 0 %>
    <% @user.bookings.each do |booking| %>
      <% if booking.run.date > Date.today - 1 %>
        <% upcoming_count += 1 %>
      <% else %>
        <% past_count += 1 %>
      <% end %>
    <% end %>

    <!-- Stats -->
    <div class="stats">
      <!-- Hosted Runs -->
      <div class="stat">
        <h3><%= hosted_count %></h3>
        <h4><%= hosted_count == 1 ? "RUN" : "RUNS" %> HOSTED</h4>
      </div>

      <!-- Total Distance -->
      <div class="stat">
        <% distance_sum = 0 %>
        <% all_runs.each do |run| %>
          <% if run.date <= Date.today - 1 %>
            <% distance_sum += run.run_distance %>
          <% end %>
        <% end %>
        <h3><%= number_with_delimiter(distance_sum) %></h3>
        <h4><%= distance_sum == 1 ? "KILOMETRE" : "KILOMETRES" %> RUN</h4>
      </div>

      <!-- Total Time -->
      <div class="stat">
        <% time_sum = 0 %>
        <% all_runs.each do |run| %>
          <% if run.date <= Date.today - 1 %>
            <% if run.pace.nil? %>
              <% time_calc = 0 %>
            <% else %>
              <% time_calc = run.run_distance.to_i % run.pace.to_i %>
            <% end %>
          <% end %>
          <% time_sum += time_calc.to_i %>
        <% end %>
        <h3><%= number_with_delimiter(time_sum) %></h3>
        <h4><%= time_sum == 1 ? "MINUTE" : "MINUTES" %> TRAINED</h4>
      </div>
    </div>
  </div>

  <!-- Review Pop-Up -->
  <div class="review-breather">
    <% booking = @user.past_bookings_without_reviews.last %>
    <% if booking %>
      <div class="review-box">
        <div class="review-content">
          <h3>ADD A REVIEW</h3>
          <h5><strong><%= booking.run.title.split.map {|r| r.capitalize}.join(" ") %> - Hosted by <%= booking.run.user.first_name.capitalize %> // <%= booking.run.run_distance %>km</strong></h5>
          <p><%= booking.run.location %> | <%= booking.run.date.strftime("%b %d %Y") %> @ <%= booking.run.time.strftime("%l:%M %p") %></p>
          <br>
          <p>Hope you had a good run! Did <%= booking.run.user.first_name.capitalize %> show up on time?</p>
          <%= render "reviews/form", run: booking.run, review: Review.new %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Run History -->
  <div class="history breather">
    <h3>RUN HISTORY</h3>
    <!-- Tabs -->
    <div class="tabs">
      <a href="#" class="tab" id="all-tab" >ALL (<%= all_runs.count.to_i %>)</a>
      <a href="#" class="tab" id="hosting-tab">HOSTING (<%= hosting_count %>)</a>
      <a href="#" class="tab" id="hosted-tab">HOSTED (<%= hosted_count %>)</a>
      <a href="#" class="tab" id="upcoming-tab">UPCOMING (<%= upcoming_count %>)</a>
      <a href="#" class="tab" id="past-tab">PAST (<%= past_count %>)</a>
    </div>

    <div class="logs">
      <!-- All Runs -->
      <div class="non-host-runs content-filter" id="all-runs">
        <% if all_runs.any? %>
          <ul class="log">
            <% all_runs.each do |run| %>
              <li class="flex">
                <div class="log-left display-block">
                  <% if run.user == current_user %>
                    <h5>HOST: YOU</h5>
                  <% else %>
                    <h5>HOST: <%= run.user.first_name.upcase %> <%= run.user.last_name.upcase %></h5>
                  <% end %>
                  <p>CONFIRMED RUNNERS: <%= run.bookings.count %></p>
                </div>
                <div class="log-middle">
                  <h5><%= run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                  <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                </div>
                <div class="log-right">
                  <p><%= run.date.strftime("%b %d %Y").upcase %></p>
                  <p><%= run.time.strftime("%l:%M %p") %></p>
                </div>
                <%= link_to "", run_path(run), class: "flex-link" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="log no-runs">
            <p><%= link_to "Would you like to start your first run?", runs_path %></p>
          </div>
        <% end %>
      </div>
      <!-- Hosting Runs -->
      <div class="host-runs content-filter hidden" id="hosting-runs">
        <% if @user.runs.any? { |r| r.date >= Date.today } %>
          <ul class="log">
            <% @user.runs.each do |run| %>
              <% if run.date > Date.today - 1 %>
                <li class="flex" data-run-id="<%= run.id %>">
                  <div class="log-left">
                    <p>CONFIRMED RUNNERS: <%= run.bookings.count %></p>
                    <ul class="list-inline">
                      <li>
                        <%= link_to run_messages_path(run) do %>
                          <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_run_path(run) do %>
                          <p><i class="fa fa-pencil" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to run_path(run), method: :delete, remote: true do %>
                          <p><i class="fa fa-trash" aria-hidden="true"></i></p>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                  <div class="log-middle">
                    <h5><%= run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                    <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                  </div>
                  <div class="log-right">
                    <p><%= run.date.strftime("%b %d %Y").upcase %></p>
                    <p><%= run.time.strftime("%l:%M %p") %></p>
                  </div>
                  <%= link_to "", run_path(run), class: "flex-link" %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <div class="log no-runs">
            <p><%= link_to "You're not hosting any runs in the future yet. Do you want to host a run?", new_run_path %></p>
          </div>
        <% end %>
      </div>
      <!-- Hosted Runs -->
      <div class="host-runs content-filter hidden" id="hosted-runs">
        <% unless @user.runs.empty? %>
          <ul class="log">
            <% @user.runs.each do |run| %>
              <% if run.date <= Date.today - 1 %>
                <li class="flex">
                  <div class="log-left">
                    <p>CONFIRMED RUNNERS: <%= run.bookings.count %></p>
                  </div>
                  <div class="log-middle">
                    <h5><%= run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                    <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                  </div>
                  <div class="log-right">
                    <p><%= run.date.strftime("%b %d %Y").upcase %></p>
                    <p><%= run.time.strftime("%l:%M %p") %></p>
                  </div>
                  <%= link_to "", run_path(run), class: "flex-link" %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <div class="log no-runs">
            <p>You haven't hosted any runs before.</p>
          </div>
        <% end %>
      </div>
      <!-- Upcoming Runs -->
      <div class="non-host-runs content-filter hidden" id="upcoming-runs">
        <% if upcoming_count >= 1 %>
          <ul class="log">
            <% @user.bookings.each do |booking| %>
              <% if booking.run.date > Date.today - 1 %>
                <li class="flex" data-booking-id="<%= booking.id %>">
                  <div class="log-left">
                    <div class="left-photo">
                      <%= cl_image_tag booking.run.user.photo, class: "history-photo" %>
                    </div>
                    <div class="left-info">
                      <h5><%= booking.run.user.first_name.upcase %> <%= booking.run.user.last_name.upcase %></h5>
                      <ul class="list-inline">
                        <li>
                          <%= link_to run_messages_path(booking.run) do %>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i></p>
                          <% end %>
                        </li>
                        <li>
                          <%= link_to booking_path(booking), method: :delete, remote: true do %>
                            <p><i class="fa fa-trash" aria-hidden="true"></i></p>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="log-middle">
                    <h5><%= booking.run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                    <p><%= booking.run.location.upcase.match(/^(.+?),/).to_s %> <%= booking.run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                  </div>
                  <div class="log-right">
                    <p><%= booking.run.date.strftime("%b %d %Y").upcase %></p>
                    <p><%= booking.run.time.strftime("%l:%M %p") %></p>
                  </div>
                  <%= link_to "", run_path(booking.run), class: "flex-link" %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <div class="log no-runs">
            <p><%= link_to "You don't have any upcoming runs. Would you like to schedule a run?", runs_path %></p>
          </div>
        <% end %>
      </div>
      <!-- Past Runs -->
      <div class="non-host-runs content-filter hidden" id="past-runs">
        <% if @user.bookings.any? { |b| b.run.date < Date.today } %>
          <ul class="log">
            <% @user.bookings.each do |booking| %>
              <% if booking.run.date < Date.today %>
                <li class="flex">
                  <div class="log-left">
                    <div class="left-photo">
                      <%= cl_image_tag booking.run.user.photo, class: "history-photo" %>
                    </div>
                    <div class="left-info">
                      <h5><%= booking.run.user.first_name.upcase %> <%= booking.run.user.last_name.upcase %></h5>
                    </div>
                  </div>
                  <div class="log-middle">
                    <h5><%= booking.run.title.split.map {|r| r.upcase}.join(" ") %></h5>
                    <p><%= booking.run.location.upcase.match(/^(.+?),/).to_s %> <%= booking.run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                  </div>
                  <div class="log-right">
                    <p><%= booking.run.date.strftime("%b %d %Y").upcase %></p>
                    <p><%= booking.run.time.strftime("%l:%M %p") %></p>
                  </div>
                  <%= link_to "", run_path(booking.run), class: "flex-link" %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <div class="log no-runs">
            <p>You haven't scheduled any runs before.</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Event History -->
  <h3>EVENT HISTORY</h3>
  <!-- Logic -->
  <% all_events = [] %>
  <% @user.events.each do |event| %>
    <% all_events << event %>
  <% end %>
  <% @user.reservations.each do |reservation| %>
    <% all_events << reservation.event %>
  <% end %>

  <% upcoming_events = [] %>
  <% past_events = [] %>
  <% all_events.each do |event| %>
    <% if event.date >= Date.today %>
      <% upcoming_events << event %>
    <% else %>
      <% past_events << event %>
    <% end %>
  <% end %>

  <!-- Tabs -->
  <div class="tabs">
    <a href="#" class="tab" id="all-events-tab">ALL (<%= all_events.count %>)</a>
    <a href="#" class="tab" id="upcoming-events-tab">UPCOMING (<%= upcoming_events.count %>)</a>
    <a href="#" class="tab" id="past-events-tab">PAST (<%= past_events.count %>)</a>
  </div>

  <div class="event-results">
    <!-- All Events -->
    <div class="events-list event-filter" id="all-events">
      <% if all_events.any? %>
        <ul class="event-log ">
          <% all_events.each do |event| %>
            <li class="col-xs-12">
              <div class="event-result">
                <h5><%= event.description.upcase %></h5>
                <p><%= event.location.upcase.match(/^(.+?),/).to_s %> <%= event.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                <p><%= event.date.strftime("%b %d %Y").upcase %> | <%= event.time.strftime("%l:%M %p").upcase %></p>
                <%= link_to "", event_path(event), class: "flex-link" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="no-events">
          <p><%= link_to "Do you want to take part in your first event?", events_path %></p>
        </div>
      <% end %>
    </div>

    <!-- Upcoming Events -->
    <div class="upcoming-events-list event-filter hidden" id="upcoming-events">
      <% if upcoming_events.any? %>
        <ul class="event-log ">
          <% upcoming_events.each do |event| %>
            <li class="col-xs-12">
              <div class="event-result">
                <h5><%= event.description.upcase %></h5>
                <p><%= event.location.upcase.match(/^(.+?),/).to_s %> <%= event.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                <p><%= event.date.strftime("%b %d %Y").upcase %> | <%= event.time.strftime("%l:%M %p").upcase %></p>
                <%= link_to "", event_path(event), class: "flex-link" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="no-events">
          <p><%= link_to "You don't have any upcoming events. Do you want to find an event to take part in?", events_path %></p>
        </div>
      <% end %>
    </div>

    <!-- Past Events -->
    <div class="past-events-list event-filter hidden" id="past-events">
      <% if past_events.any? %>
        <ul class="event-log ">
          <% past_events.each do |event| %>
            <li class="col-xs-12">
              <div class="event-result">
                <h5><%= event.description.upcase %></h5>
                <p><%= event.location.upcase.match(/^(.+?),/).to_s %> <%= event.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
                <p><%= event.date.strftime("%b %d %Y").upcase %> | <%= event.time.strftime("%l:%M %p").upcase %></p>
                <%= link_to "", event_path(event), class: "flex-link" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="no-events">
          <p>You haven't taken part in any events before.</p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Achievements -->
  <div class="achievements breather">
    <h3>ACHIEVEMENTS</h3>
    <div class="achievements-flex">
      <!-- Farthest Run -->
      <div class="achievement">
        <div class="achievement-body">
          <% distances = [] %>
          <% all_runs.each do |run| %>
            <% if run.date <= Date.today - 1 %>
              <% distance = run.run_distance %>
              <% distances << distance %>
            <% end %>
          <% end %>

          <% if distances == [] %>
            <div class="no-border"></div>
          <% else %>
            <div class="border">
              <h4><%= distances.max %></h4>
              <h5>KILOMETRES</h5>
              <p>FARTHEST RUN</p>
            </div>
          <% end %>
        </div>
        <div class="achievement-footer">
        </div>
      </div>

      <!-- Longest Run -->
      <div class="achievement">
        <div class="achievement-body">
          <% times = [] %>
          <% all_runs.each do |run| %>
            <% if run.date <= Date.today - 1 %>
              <% time_calc = run.run_distance.to_i % run.pace.to_i %>
              <% times << time_calc.to_i %>
            <% end %>
          <% end %>

          <% if times == [] %>
            <div class="no-border">
              <h2><i class="fa fa-meh-o" aria-hidden="true"></i></h2>
            </div>
          <% else %>
            <div class="border">
              <h4><%= times.max %></h4>
              <h5>MINUTES</h5>
              <p>LONGEST RUN</p>
            </div>
          <% end %>
        </div>
        <div class="achievement-footer">
        </div>
      </div>

      <!-- Fastest Run -->
      <div class="achievement">
        <div class="achievement-body">
          <% paces = [] %>
          <% all_runs.each do |run| %>
            <% if run.date <= Date.today - 1 %>
              <% pace = run.pace %>
              <% paces << pace %>
            <% end %>
          <% end %>

          <% if paces == [] %>
            <div class="no-border"></div>
          <% else %>
            <div class="border">
              <h4><%= paces.min.strftime("%H:%M") %></h4>
              <h5>MIN/KM</h5>
              <p>FASTEST RUN</p>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<%= content_for(:title, "Dashboard") %>

<% content_for(:after_js) do %>
  <script>
    const allRuns = document.getElementById("all-tab");
    allRuns.addEventListener("click", (event) => {
      event.preventDefault();
      $(".content-filter").addClass("hidden")
      $("#all-runs").removeClass("hidden")
    });

    const hostingRuns = document.getElementById("hosting-tab");
    hostingRuns.addEventListener("click", (event) => {
      event.preventDefault();
      $(".content-filter").addClass("hidden")
      $("#hosting-runs").removeClass("hidden")
    });

    const hostedRuns = document.getElementById("hosted-tab");
    hostedRuns.addEventListener("click", (event) => {
      event.preventDefault();
      $(".content-filter").addClass("hidden")
      $("#hosted-runs").removeClass("hidden")
    });

    const upcomingRuns = document.getElementById("upcoming-tab");
    upcomingRuns.addEventListener("click", (event) => {
      event.preventDefault();
      $(".content-filter").addClass("hidden")
      $("#upcoming-runs").removeClass("hidden")
    });

    const pastRuns = document.getElementById("past-tab");
    pastRuns.addEventListener("click", (event) => {
      event.preventDefault();
      $(".content-filter").addClass("hidden")
      $("#past-runs").removeClass("hidden")
    });

    const allEvents = document.getElementById("all-events-tab");
    allEvents.addEventListener("click", (event) => {
      event.preventDefault();
      $(".event-filter").addClass("hidden")
      $("#all-events").removeClass("hidden")
    });

    const upcomingEvents = document.getElementById("upcoming-events-tab");
    upcomingEvents.addEventListener("click", (event) => {
      event.preventDefault();
      $(".event-filter").addClass("hidden")
      $("#upcoming-events").removeClass("hidden")
    });

    const pastEvents = document.getElementById("past-events-tab");
    pastEvents.addEventListener("click", (event) => {
      event.preventDefault();
      $(".event-filter").addClass("hidden")
      $("#past-events").removeClass("hidden")
    });
  </script>
<% end %>
