<div class="dashboard-container">

  <% avatar_url = current_user.facebook_picture_url || current_user.photo %>
  <%= cl_image_tag avatar_url, class: "avatar dropdown-toggle" %>

  <h1><%= @user.first_name.upcase %> <%= @user.last_name.upcase %></h1>

  <div class="status">
    <%= @status %>
  </div>


  <div class="stats">

    <!-- Hosted Runs -->
    <p>Hosted Runs: <%= @user.runs.count %></p>

    <!-- Total Distance -->
    <% distance_sum = 0 %>
    <% @user.runs.each do |run| %>
     <% distance_sum += run.run_distance %>
    <% end %>

    <p>Total Distance Covered: <%= distance_sum %></p>

  </div>

  <div class="achievements">

    <!-- Longest Distance -->
    <% distances = [] %>
    <% @user.runs.each do |run| %>
      <% distance = run.run_distance %>
      <% distances << distance %>
    <% end %>

    <p>Longest Distance: <%= distances.max %></p>
   </div>

  <div class="history">
    <p>Total Runs</p>
    <p>Upcoming Runs: <%= @upcoming %></p>
    <p>Past Runs: </p>
  </div>

  <%= link_to "Edit", edit_user_registration_path, class: "btn btn-default" %>
</div>

<%= content_for(:title, "Dashboard") %>


  <!--  <p>Fastest Pace:</p> -->
  <!--  <p>Average Pace: </p> -->
