<div class="dashboard-container">

  <%= cl_image_tag @user.photo %>
  <h1><%= @user.first_name.upcase %> <%= @user.last_name.upcase %></h1>

  <div class="status">
    <%= @status %>
  </div>

  <div class="stats">
    <p>Total Runs: <%= @user.runs.count %></p>
    <p>Total Distance Covered: </p>
    <p>Average Pace: </p>
  </div>

  <div class="achievements">
    <p>Longest Run:</p>
    <p>Longest Distance:</p>
    <p>Fastest Pace:</p>
  </div>

  <div class="history">
    <p>Hosted Runs: <%= @hosted %></p>
    <p>Upcoming Runs: <%= @upcoming %></p>
    <p>Past Runs: </p>
  </div>

  <%= link_to "Edit", edit_user_registration_path, class: "btn btn-default" %>
</div>

<%= content_for(:title, "Dashboard") %>
