  <% arr_distance = ["<5", "5 - 15", ">15"] %>
  <% arr_social = ["low","med","high"] %>
  <% arr_pace = ['3:00', '3:15', '3:30', '3:45',
  '4:00','4:15','4:30', '4:45',
  '5:00', '5:15', '5:30', '5:45',
  '6:00', '6:15', '6:30', '6:45',
  '7:00'] %>
  <% arr_proximity = [1,3,5] %>


<form action="/runs" class="form-filter">
  <h2 class="text-center">Filter to find your perfect running buddy</h2>
  <div class="input-with-icon">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <% if current_user %>
      <input class="form-control" type="text" name="search[location]" value="<%= @user.searches.empty? ? "" : @user.searches.last.location %>" placeholder="Where?">
    <% else %>
      <input class="form-control" type="text" name="search[location]" placeholder="Where?">
    <% end %>
  </div>

  <!-- Date Picker -->

  <div class="input-with-icon">
    <i class="fa fa-calendar" aria-hidden="true"></i>
    <% if current_user %>
      <input class="form-control datepicker" type="date" name="search[run_date]" value="<%= @user.searches.empty? ? "" : @user.searches.last.run_date %>" name="search[run_date]" value= <%Date.today %>>
    <% else %>
      <input class="form-control" type="date" name="search[run_date]" value= <%Date.today %>>
    <% end %>
  </div>


<!-- Time Picker -->
  <div class="input-with-icon">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
     <% if current_user %>
         <input class="form-control" type="time" name="search[run_time]" value="<%= @user.searches.empty? ? "" : @user.searches.last.run_time %>" name="search[run_time]" value= <%= Time.now.strftime("%H %M") %>>
       <% else %>
         <input class="form-control" type="time" name="search[run_time]" value= <%= Time.now %>>
      <% end %>
  </div>

  <!-- Proximity slider -->

  <div class="range-slider proximity">
      <div class="slider-id"><label for="proximity">Proximity km</label></div>
    <input class="range-slider__range form-control" name="search[proximity]" type="range" value="<%= params[:proximity] %>" min="0" max="2">
    <span class="range-slider__value">
      <% if params[:proximity].present? %>
        <%= arr_proximity[(params[:search][:proximity]).to_i] %>
      <% else %>
        <%= "#{arr_proximity[(arr_proximity.length/2).to_i]}" %>
      <% end %>
    </span>
  </div>

    <!-- Distance slider -->

  <div class="range-slider distance">
    <div class="slider-id"><label for="distance">Distance km</label></div>
    <input class="range-slider__range form-control" name="search[run_distance]" type="range" value="<%= params[:run_distance] %>" min="0" max="2">
    <span class="range-slider__value">
      <% if params[:run_distance].present? %>
        <%= arr_distance[(params[:search][:run_distance]).to_i] %>
      <% else %>
        <%= "#{arr_distance[(arr_distance.length/2).to_i]}" %>
      <% end %>
    </span>
  </div>

  <!-- Sociability slider -->

  <div class="range-slider sociability">
    <div class="slider-id"><label for="sociability">Sociability</label></div>
    <input class="range-slider__range form-control" name="search[sociability]" type="range" value="<%= params[:sociability] %>" min="1" max="3">
    <span class="range-slider__value">
      <% if params[:sociability].present? %>
        <%= arr_social[(params[:search][:sociability]).to_i] %>
      <% else %>
        <i class="fa fa-smile-o" aria-hidden="true"></i>
      <% end %>
    </span>
  </div>

  <!-- Pace slider -->

  <div class="range-slider pace">
    <div class="slider-id"><label for="pace">Pace min/km</label></div>
    <input class="range-slider__range form-control" name="search[pace]" type="range" value="<%= params[:pace] %>" min="0" max="16">
    <span class="range-slider__value">
      <% if params[:pace].present? %>
        <%= arr_pace[(params[:search][:pace]).to_i] %>
      <% else %>
       <%= "#{arr_pace[(arr_pace.length/2).to_i]}" %>
      <% end %>
    </span>
  </div>

  <div class="apply-filters-search">
     <button type="submit" class="filters-button"%>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </div>
 </form>
