  <% arr_dist = ["<5km", "<10km", "<15km"] %>
  <% arr_social = ["low","med","high"] %>
  <% arr_pace = ['3:00', '3:15', '3:30', '3:45',
  '4:00','4:15','4:30', '4:45',
  '5:00', '5:15', '5:30', '5:45',
  '6:00', '6:15', '6:30', '6:45',
  '7:00'] %>

  <%#= form_tag(runs_path, method: :get) do |f| %>
       <form class="form-inline">



      </div>

<%# end %>


<form action="/runs" class="form-inline">
  <div class="row text-center">
    <!-- Location Search -->
     <div class="input-group mb-2 mb-sm-0 page-search">
      <div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
      <% if current_user %>
        <input class="form-control" type="text" name="search[location]" value="<%= @user.searches.empty? ? "" : @user.searches.last.location %>" placeholder="Where?">
      <% else %>
        <input class="form-control" type="text" name="search[location]" placeholder="Where?">
      <% end %>
      </div>
    <!-- Proximity Setting - defines km's from location -->
       <div class="input-group mb-2 mb-sm-0 page-search">
      <div class="input-group-addon"><i class="fa fa-map-signs" aria-hidden="true"></i></div>
      <% if current_user %>
        <input class="form-control" type="number" name="search[proximity]" value="<%= @user.searches.empty? ? "" : @user.searches.last.proximity %>" type="number" name="search[proximity]" step="0.5" value="0.5" min="0">
      <% else %>
        <input class="form-control" type="number" name="search[proximity]" step="0.5" value="0.5" min="0">
      <% end %>
      </div>
      <!-- Date Picker -->
      <div class="input-group mb-2 mb-sm-0 page-search">
        <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
      <% if current_user %>
        <input class="form-control" type="date" name="search[run_date]" value="<%= @user.searches.empty? ? "" : @user.searches.last.run_date %>" name="search[run_date]" value= <%Date.today %>>
      <% else %>
        <input class="form-control" type="date" name="search[run_date]" value= <%Date.today %>>
      <% end %>
      </div>
      <!-- Time Picker -->
      <div class="input-group mb-2 mb-sm-0 page-search">
        <div class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
      <% if current_user %>
        <input class="form-control" type="time" name="search[run_time]" value="<%= @user.searches.empty? ? "" : @user.searches.last.run_time %>" name="search[run_time]" value= <%= Time.now %>>
      <% else %>
        <input class="form-control" type="date" name="search[run_time]" value= <%= Time.now %>>
      <% end %>
      </div>

      <!-- Distance slider -->
   <div class="row text-center slider-padding">
    <div class="form-group">
        <div class="range-slider distance">
          <div class="slider-id"><label for="distance">Distance</label></div>
          <%  %>

 <span class="range-slider__value"><%= params[:search].present? ? arr_dist[(params[:search][:run_distance].to_i)] : arr_dist[1] %></span>

          <input class="range-slider__range form-control" id="distance" name="search[run_distance]" type="range" value="<%= params[:distance] %>" min="0" max="2">
        </div>
    </div>
    <!-- Sociability slider -->
    <div class="form-group">
      <div class="range-slider sociability">
        <div class="slider-id"><label for="sociability">Sociability</label></div>


         <span class="range-slider__value"><%= params[:search].present? ? arr_social[(params[:search][:sociability].to_i)] : arr_social[1] %></span>




        <input class="range-slider__range form-control" name="search[sociability]" type="range" value="<%= params[:sociability] %>" min="0" max="2">
      </div>
    </div>
    <!-- Pace slider -->
      <div class="form-group">
      <div class="range-slider pace">
          <div class="slider-id"><label for="pace">Pace</label></div>
          <span class="range-slider__value"><%= params[:search].present? ? arr_pace[(params[:search][:pace].to_i)] : arr_pace[8] %></span>
          <input class="range-slider__range form-control" name="search[pace]" type="range" value="<%= params[:pace] %>" min="0" max="16">
      </div>
    </div>
      <button type="submit" class="btn btn-default" style="border-radius: 50%; font-size: 12px; padding: 5px 10px !important" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
<!--     <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>
</div>
