<div class="container">
  <h1>!!!Upcoming Events!!!</h1>

  <ul class="main">
    <% @events.each do |event| %>
      <li class="date">
        <h3><%= event.date %></h3>
        <p>Schedule of Event</p>
      </li>
      <li class="events">
        <ul class="events-detail">
          <%= link_to "", event_path(event) %>
            <span class="event-time"><%= event.time %></span>
            <span class="event-location"><%= event.location %></span>
            <br>
            <span class="event-distance"><%= event.distance %></span>
            <br>
            <span class="event-description"><%= event.description %></span>
          </a>
        </ul>
      </li>


    <% end %>
  </ul>

  <p>
    <% if user_signed_in? %>
      <%= link_to "Add Event", new_event_path(@event) %>
    <% end %>
  </p>

  <p>
    <%= link_to "Log Out", destroy_user_session_path %>
  </p>
</div>
