<div class="container">
<!-- Events header -->
  <h1>UPCOMING EVENTS
    <% if user_signed_in? %>
      <%= link_to new_event_path do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </h1>
  <!-- Event card details -->
  <div class="row">
    <% @events.each do |event| %>
        <div class="event-card">
          <!-- Event date -->
          <div class="event-card-date">
            <h3><%= event.date.strftime('%a %d %b %Y') %></h3>
          </div>
          <!-- Event card content -->
          <div class="event-card-content">
            <ul class="list-inline event-icons">
            <!-- Event time -->
              <li><i class="fa fa-clock-o" aria-hidden="true"></i><%= event.time.strftime("%I:%M%p") %></li>
            <!-- Event location -->
              <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= event.location %></li>
              <br>
            <!-- Event distance -->
              <li><i class="fa fa-road" aria-hidden="true"></i> <%= event.distance %>km</li>
            <!-- Event surface -->
              <% if event.surface != nil %>
                <li><i class="fa fa-blind" aria-hidden="true"></i><%= event.surface %></li>
              <% end %>
            <!-- Event price -->
              <% if event.price != nil %>
                <li><i class="fa fa-gbp" aria-hidden="true"></i><%= event.price %></li>
              <% end %>
            <!-- Event description -->
            <hr>
                <h4 class="event-text"><%= event.description.first(50) %></h4>
            </ul>
          </div>
          <!-- Event join button -->
          <div class="event-join">
            <%= link_to "JOIN NOW", new_event_reservation_path(event), class: "btn btn-event" %>
          </div>
        </div>
    <% end %>
  </div>

<%= content_for(:title, 'shared.run | Run Together - Anytime, Anywhere') %>
