<div class="event-wrapper">
<!-- Event details -->
  <ul class="event-display">


    <li class="events">

      <div class="event-content">
        <p>HOSTED BY <%= @event.user.first_name.upcase %> <%= cl_image_tag @event.user.photo, class: "event-avatar" %></p>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @event.date %>  <%= @event.time.strftime("at %I:%M%p") %></p>


        <h4><i class="fa fa-map-marker" aria-hidden="true"></i> <%= @event.location.upcase.match(/^(.+?),/).to_s %> <%= @event.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></h4>
        <h4><i class="fa fa-road" aria-hidden="true"></i> <%= @event.distance %> KM</h4>
        <h4><i class="fa fa-blind" aria-hidden="true"></i> <%= @event.surface %></h4>
        <h4><i class="fa fa-gbp" aria-hidden="true"></i> <%= @event.price %></h4>
        <h4 class="event-description"><%= @event.description %></h4>
      </div>
    </li>

  </ul>

<!-- Event map -->
  <div id="show-event-map" class="event-map">This is ideally a map of event.</div>
</div>

<%= link_to "Back to All Events", events_path, class: "btn btn-default" %>

<!-- Event policy scope -->
<% if policy(@event).destroy? %>
  <%= link_to "Delete", event_path(@event), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
<% end %>

<% if policy(@event).edit? %>
  <%= link_to "Edit", edit_event_path(@event), class: "btn btn-default" %>
<% end %>

<!-- JS for the map -->
<% content_for(:after_js) do %>

  <script>
    // Google Maps
    var handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        // function defined in app/assets/javascript/map_styles.js
        styles: getStyles()
      }, internal: { id: "show-event-map" } }, function() {
      markers = handler.addMarkers(
        [
          {
            "lat": <%= raw @event.latitude %>,
            "lng": <%= raw @event.longitude %>
          }
        ]
      );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
