<div class="show-wrapper">
  <!-- Banner -->
  <div class="show-banner">
    <!-- Map Background -->
    <div id="show-map"></div>
    <!-- Title -->
    <div class="show-summary">
      <h1>
        <span>
          <% if @event.description.upcase.chars.count > 65 %>
            <%= @event.description.upcase.chars.first(65).join %> ...
          <% else %>
            <%= @event.description.upcase.chars.first(65).join %>
          <% end %>
        </span>
      </h1>
      <h4><span><%= @event.location.upcase %></span></h4>
      <!-- Links -->
      <h5>
        <% if policy(@event).edit? %>
          <%= link_to "EDIT", edit_event_path(@event), class: "btn btn-default" %>
        <% end %>
        <% if policy(@event).destroy? %>
          <%= link_to "DELETE", event_path(@event), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>
        <% end %>
      </h5>
    </div>
  </div>

  <!-- Content -->
  <div class="event-show-info">
    <!-- Event Details -->
    <div class="show-event-details ">
      <div class="event-detail">
        <div class="detail-icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h3>LOCATION</h3>
          <p><%= @event.location %></p>
        </div>
      </div>
      <div class="event-detail">
        <div class="detail-icon">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h3>DATE</h3>
          <p><%= @event.date.strftime("%A, %b %d %Y") %></p>
        </div>
      </div>
      <div class="event-detail">
        <div class="detail-icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h3>TIME</h3>
          <p><%= @event.time.strftime("%l:%M %p")  %></p>
        </div>
      </div>
      <div class="event-detail">
        <div class="detail-icon">
          <i class="fa fa-gbp" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h3>PRICE</h3>
          <p><%= number_with_precision(@event.price, precision: 2) %></p>
        </div>
      </div>
      <div class="event-detail">
        <div class="detail-icon">
          <i class="fa fa-road" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h3>SURFACE</h3>
          <p><%= @event.surface %></p>
        </div>
      </div>
    </div>

    <!-- Event Description -->
    <div class="show-event-participants">
      <div class="show-run-buddies">
        <h3>EVENT PARTICIPANTS (<%= @event.reservations.count %>)</h3>
        <div class="buddy-avatars">
          <% if @event.reservations.empty? %>
            <p>Be the first to take part in this event!</p>
          <% else %>
            <% @event.reservations.first(30).each do |reservation| %>
              <%= link_to dashboard_path(reservation.user) do %>
                <a data-toggle="tooltip" data-placement="bottom" title="<%= reservation.user.first_name %>">
                  <%= cl_image_tag reservation.user.photo, crop: :fill, class: "buddy-photo" %>
                </a>
              <% end %>
            <% end %>
          <% end %>
          <% if @event.reservations.count > 30 %>
            <p><i>And <%= @event.reservations.count - 30 %> more...</i></p>
          <% end %>
        </div>
      </div>
    <!-- Booking/Share Buttons -->
      <div class="show-event-action">
        <div class="event-action-button">
          <% if policy(@event).edit? == false %>
            <%= render "reservations/form", event: @event, reservation: Reservation.new %> &nbsp
          <% end %>
        </div>
        <div class="event-action-button">
          <%= link_to "START TRAINING", runs_path, class: "btn btn-share" %> &nbsp
        </div>
        <div class="event-action-button">
          <div class="fb-share-button" data-href="http://www.shared.run/" data-layout="button" data-size="large" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.shared.run%2F&amp;src=sdkpreparse">Share</a></div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer>
  <div class="footer-run-show">
    <div class="footer-box">
      <a href="https://github.com/lewagon"><i class="fa fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonlondon/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/lewagonlondon/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/lewagonlondon?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/school/5046700/"><i class="fa fa-linkedin"></i></a>
    </div>

    <div class="footer-box">
      <p><%= link_to "ABOUT", about_path %></p>
      <p><%= link_to "PRIVACY POLICY", privacy_path %></p>
      <p><%= link_to "TERMS OF SERVICE", terms_path %></p>
    </div>

    <div class="footer-copyright">
      <p>COPYRIGHT &copy; 2017 SHARED.RUN</p>
    </div>
  </div>
</footer>

<%= content_for(:title, @event.description.split.map {|d| d.capitalize}.join(" ")) %>

<!-- JavaScript -->

<% content_for(:after_js) do %>
  <script>
    var styles = [
                  {
                      "featureType": "all",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "saturation": 36
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 40
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          },
                          {
                              "weight": 1.2
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.province",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "saturation": "-100"
                          },
                          {
                              "lightness": "30"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.neighborhood",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.land_parcel",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "gamma": "0.00"
                          },
                          {
                              "lightness": "74"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.man_made",
                      "elementType": "all",
                      "stylers": [
                          {
                              "lightness": "3"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 21
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 29
                          },
                          {
                              "weight": 0.2
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 18
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 19
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  }
              ];
    // Google Maps
    var handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        // function defined in app/assets/javascript/map_styles.js
        styles: styles
      }, internal: { id: "show-map" } }, function() {
      markers = handler.addMarkers(
        [
          {
            "lat": <%= @event.latitude %>,
            "lng": <%= @event.longitude %>
          }
        ]
      );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
