<div class="event-wrapper">

  <% if @search_widened %>
    <h2><%= @search_widened  %></h2>
  <% end %>

  <!-- Event details -->
  <ul class="event-display">

    <% photo_url = current_user.photo? ? current_user.photo : 'lix2bqmp4kzdpu4sqjiy' %>
    <li class="events">

      <div class="event-description">
        <p><%= @event.date %> - <%= @event.time.strftime("at %I:%M%p") %></p>
        <p>HOSTED BY <%= @event.user.first_name.upcase %></p>

        <h4><%= @event.location.upcase.match(/^(.+?),/).to_s %> <%= @event.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></h4>
        <h5>Distance: <%= @event.distance %> KM</h5>
        <h5>Surface: <%= @event.surface %></h5>
        <h5>Price: £<%= @event.price %></h5>
        <h4>Description: <%= @event.description %></h4>
      </div>
    </li>

  </ul>

  <!-- Event map -->
  <div class="event-map">This is ideally a map of event.</div>
</div>

<%= link_to "Back to All Events", events_path, class: "btn btn-default" %>

<% if policy(@event).destroy? %>
  <%= link_to "Delete", event_path(@event), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
<% end %>

<% if policy(@event).edit? %>
  <%= link_to "Edit", edit_event_path(@event), class: "btn btn-default" %>
<% end %>

<!-- JS for the map -->
<% content_for(:after_js) do %>
  <script>
    const handler = Gmaps.build("Google");
    handler.buildMap({ internal: { id: "map" } }, function() {
      markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
