<div class="event-wrapper">
<!-- Event details -->
  <ul class="event-display">
    <li class="events">
      <div class="event-content">
        <!-- Description of event -->
        <div class="event-description"><%= @event.description %></div>
        <hr>
        <!-- Participants of event -->
        <div class="participants">
          <p>HOSTED BY <%= @event.user.first_name.upcase %> <%= @event.user.last_name.camelcase %>
            <% unless @event.user.photo = nil %>
              <%= cl_image_tag @event.user.photo, class: "event-avatar" %>
            <% end %>
          </p>
          <h4>PARTICIPANTS: (<%= @event.reservations.count %>)</h4>
          <div class="buddy-avatars">
              <% @event.reservations.each do |reservation| %>
                <%= cl_image_tag reservation.user.photo, crop: :fill, class: "buddy-photo" %>
              <% end %>
          </div>
        </div>
        <br>
        <!-- Link connected with new run -->
        <div class="schedule-run">
          <p>Start your training today!</p>
          <%= link_to "SCHEDULE A RUN", new_run_path, class: "btn btn-default" %>
        </div>
      </div>

    </li>
  </ul>
<!-- Event map -->
  <div id="show-event-map" class="event-map">This is ideally a map of event.
  </div>
</div>

<%= content_for(:title, 'Event - shared.run') %>

<!-- Event policy scope -->
<% if policy(@event).destroy? %>
  <%= link_to "Delete", event_path(@event), class: "btn btn-default", onclick: "sweetDelete();", method: :delete %>
<% end %>

<% if policy(@event).edit? %>
  <%= link_to "Edit", edit_event_path(@event), class: "btn btn-default" %>
<% end %>

<!-- JS for sweet alert -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.3/sweetalert2.all.min.js" integrity="sha256-Cc+yDzt4WAIOQNyXND0m3zCkxy8mSRJXLGy+5oGaHHM=" crossorigin="anonymous"></script>
<script type="text/javascript" src="app/assets/javascripts/sweetalert2.js"></script> -->


<!-- JS for the map -->
<% content_for(:after_js) do %>

  <script>
    // Google Maps
    var handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        // function defined in app/assets/javascript/map_styles.js
        styles: getStyles()
      }, internal: { id: "show-event-map" } }, function() {
      markers = handler.addMarkers(
        [
          {
            "lat": <%= raw @event.latitude %>,
            "lng": <%= raw @event.longitude %>
          }
        ]
      );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>
