<div class="about-container">

  <!-- How It Works -->
  <div class="box colour">
    <div class="description">
      <h2>HOW IT WORKS</h2>
      <p>We came up with shared.run given the lack of flexibility of finding a running buddy - whether that's finding a suitable location, time or partner for you.</p>
    </div>
  </div>

  <!-- Overview -->
  <div class="box-one">
    <div class="overviews">
      <div class="overview">
        <h2><i class="fa fa-search" aria-hidden="true"></i></h2>
        <h3>SEARCH</h3>
        <p>Search for available running buddies, routes or events.</p>
      </div>
      <div class="overview">
        <h2><i class="fa fa-calendar-o" aria-hidden="true"></i></h2>
        <h3>SCHEDULE</h3>
        <p>Schedule your running date - via instant confirmation or messaging with the organiser.</p>
      </div>
      <div class="overview">
        <h2><i class="fa fa-hand-o-right" aria-hidden="true"></i></h2>
        <h3>GET RUNNING!</h3>
        <p>You're all set! Enjoy the run with your new buddies!</p>
      </div>
    </div>
  </div>

  <!-- Meet the Team -->
  <div class="box colour">
    <div class="team">
      <h2>MEET THE TEAM</h2>
      <div class="members">
        <!-- Agnes -->
        <div class="member">
          <%= cl_image_tag "http://res.cloudinary.com/joycelewagon/image/upload/v1511782043/Screen_Shot_2017-11-27_at_11.26.44_ojch3u.png", class: "about-avatar", :crop => :fill %>
          <div class="member-text">
            <h4 class="member-name">AGNES</h4>
            <div class="member-bio">
              <p>Former Police Officer. Addicted Runner. Having spent some time looking for a career change, I'm now seeking a new page as a web developer for the start of my second life.</p>
            </div>
          </div>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/agnes-ching-hua-chung-67b429110/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="https://twitter.com/agnesching19"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/agnesching19"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:agnesching19@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Joe -->
        <div class="member">
          <%= cl_image_tag "http://res.cloudinary.com/joycelewagon/image/upload/v1510933779/yiipsdv6mff3iny036kx.gif", class: "about-avatar", :crop => :fill  %>
          <div class="member-text">
            <h4 class="member-name">JOE</h4>
            <div class="member-bio">
              <p>This is a bio about Joe.</p>
            </div>
          </div>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/ja5664"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:ja5664@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- Joyce -->
        <div class="member">
          <%= cl_image_tag "http://res.cloudinary.com/joycelewagon/image/upload/v1511455436/oscb0q7qvbeoa7e5gioe.jpg", class: "about-avatar", :crop => :fill %>
          <div class="member-text">
            <h4 class="member-name">JOYCE</h4>
            <div class="member-bio">
              <p>After graduating from the LSE in the UK, I started a career in finance in Hong Kong before realising there is more to life than a corporate job. I hope to be a developer in the future - so this site has been fun combining my interests in coding and running!</p>
            </div>
          </div>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/wcyjoyce"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.twitter.com/jcywonghk"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/wcyjoyce"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:wcyjoyce.hk@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <!-- Zuzzana -->
        <div class="member">
          <%= cl_image_tag "http://res.cloudinary.com/joycelewagon/image/upload/v1511781045/zuzanna_capoky.gif", class: "about-avatar", :crop => :fill %>
          <div class="member-text">
            <h4 class="member-name">ZUZANNA</h4>
            <div class="member-bio">
              <p>This is a bio about Zuzanna.</p>
            </div>
          </div>
          <div class="member-links">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
              <li><a href="https://www.github.com/zuzannaglowacka"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              <li><a href="mailto:zuzglowacka@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Contact Us -->
  <div class="box-bottom">
    <div class="contact">
      <h2>CONTACT US</h2>
      <br>
      <a href="mailto:info@shared.run" class="btn contact-us">👋🏼 Say Hello!</a>
    </div>
  </div>

</div>

<%= content_for(:title, "shared.run | About") %>
