<div class="main">
  <div class="right-flex text-center">
    <div id="landing-buttons">
        <!-- Link to runs -->
        <a href="runs#index" data-toggle="tooltip" data-placement="auto" title="Find a Run" class="landing-button"> <%= image_tag "shoe-gray.png", class: "logo-small" %></a>
        <!-- Link to events -->
        <a href="events#index" data-toggle="tooltip" data-placement="auto" title="Find an Event"><i class="fa fa-calendar-o landing-button" aria-hidden="true"></i></a>
        <!-- Link to log in -->
        <%= link_to user_session_path do %>
          <div data-toggle="tooltip" data-placement="auto" title="Log In / Sign Up"><i class="fa fa-user-o landing-button" aria-hidden="true"></i></div>
        <% end %>
    </div>
    <div class="website-main-text margin-top">
      <div class="website-name">
        <h1>shared.run</h1>
          <div class="motto">
            <h6>Run Together - Anytime, Anywhere</h6>
          </div>
      </div>
    </div>
    <div class="search-container text-center margin-top"> <%= render "shared/search" %></div>

    <div class="counters-container margin-top">
      <div class="number-counter-text">
        <div class="counter" data-count="150">0</div>
        <a href="">Runners</a>
      </div>
      <div class="number-counter-text">
        <div class="counter1" data-count="85">0</div>
        <a href="">Events</a>
      </div>
      <div class="number-counter-text">
        <div class="counter2" data-count="220">0</div>
        <a href="">Runs</a>
      </div>
    </div>
  </div>

  <div class="map-svg hidden-xs">
   <%= render "shared/svg_map" %>
      <div class="container-map">
        <div class="map">
          <ul class="map-markers">
            <li class="map-marker map-marker-first">
              <a href="#"></a>
            </li>
            <li class="map-marker map-marker-second">
              <a href="#"></a>
            </li>
            <li class="map-marker map-marker-third">
              <a href="#"></a>
            </li>
            <li class="map-marker map-marker-fourth">
              <a href="#"></a>
            </li>
            <li class="map-marker map-marker-fifth">
              <a href="#"></a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>


<%= content_for(:title, "shared.run | Run Together - Anytime, Anywhere") %>


<!-- JavaScript -->
<% content_for(:after_js) do %>
  <script>
    $('.counter').each(function() {
  var $this = $(this),
  countTo = $this.attr('data-count');
  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },
  {
    duration: 8000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
   $this.text(this.countNum);
      //alert('finished');
    }
  });
});
$('.counter1').each(function() {
  var $this = $(this),
      countTo = $this.attr('data-count');
  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },
  {
    duration: 8000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
    $this.text(this.countNum);
    }
  });
});
$('.counter2').each(function() {
  var $this = $(this),
      countTo = $this.attr('data-count');
  $({ countNum: $this.text()}).animate({
    countNum: countTo
  },
  {
    duration: 8000,
    easing:'linear',
    step: function() {
      $this.text(Math.floor(this.countNum));
    },
    complete: function() {
      // $this.text("");
         $this.text(this.countNum);
    }
  });
});
  </script>
<% end %>
