<div class="form-run">
  <%= simple_form_for(@run) do |r| %>
    <%= r.input :title, placeholder: "e.g. Casual Saturday jog by the River Thames" %>
      <%= r.input :description, placeholder: "Please give a more detailed description of your run - e.g. meeting locations, points of interest, level of difficulty." %>
  <div class="run-features container">
    <div class="date-time">
      <!-- put date picker in -->
      <%= r.input :date, as: :string, placeholder: "Select date" %>
      <!-- >>>>>> -->
      <%= r.input :location, priority: ["EN"], input_html: {id: "locationInput", class: "middle-form"} %>
      <%= r.input :time %>
    </div>
    <div class="distance-pace-capacity">
      <%= r.input :run_distance, placeholder: "Kilometre(s)" %>
      <%= r.input :capacity, placeholder: "Number of people", input_html: {class: "middle-form"} %>
      <%= r.input :pace, placeholder: "MM:SS / Kilometre" %>
    </div>
  </div>
  <%= r.submit "SUBMIT", class: "btn btn-form" %>
  <% end %>
</div>

<%= content_for(:title, "Add New Run") %>

<%= content_for(:after_js) do %>

  <script>
    var runLocation = document.getElementById("locationInput");
    if (runLocation) {
      var autocomplete = new google.maps.places.Autocomplete(runLocation, { types: ["geocode"] });
      google.maps.event.addDomListener(runLocation, "keydown", function(e) {
        if (e.keyCode == 13) {
          e.preventDefault(); // Do not submit the form on Enter.
        }
      });
    }

    // Date Picker
  </script>
<% end %>
