<div class="window">
  <%= link_to run_path(run) do %>
    <div class="window-display">
      <div class="window-item">
        <%= cl_image_tag run.user.photo, crop: :fill, class: "window-avatar" %>
      </div>
      <div class="window-item">
        <p><strong><%= run.title.split.map {|r| r.capitalize}.join(" ") %> // <%= run.run_distance %>km</strong></p>
        <br>
        <p><%= run.location.match(/^(.+?),/).to_s %> <%= run.location.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
        <p><%= run.date.strftime("%b %d %Y").capitalize %> @ <%= run.time.strftime("%l:%M %p") %></p>
      </div>
    </div>
  <% end %>
</div>
