<h1>Results</h1>

<!-- Search bar -->
<div class="search">
  <%= form_tag(runs_path, method: :get) do |f| %>

        <%# text_field_tag :location, nil, placeholder: 'Where do you want to run?', priority: ['EN'], id: "locationInput" %>
        <input type="text" name="search[location]" placeholder="Where do you want to run?">
        <%= text_field_tag :proximity, nil, placeholder: 'How close by?' %>
    <button class="btn btn-default" style="border-radius: 50%; font-size: 12px; padding: 5px 10px !important" %>
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  <% end %>
</div>

<!-- Map -->
<div id="map" style="width: 100%; height: 300px;"></div>

<ul>
  <% @runs.each do |run| %>
    <li><%= run.description %> (<%= run.run_distance %>km) - <%= run.location %> | <%= link_to "Show", run_path(run) %></li>
  <% end %>
</ul>

<p>
  <% if user_signed_in? %>
    <%= link_to "Add Run", new_run_path(@run) %>
  <% end %>
</p>

<p>
  <%= link_to "Log In", new_user_session_path %>
</p>

<p>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</p>

<!-- JavaScript -->
<% content_for(:after_js) do %>
  <script>
    <!-- Map Display -->
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
