<!-- Map -->

<%= render "shared/page_search" %>

<div class="results-wrapper">
  <div id="results-map"></div>

  <% if @search_widened %>
    <h2><%= @search_widened  %></h2>
  <% end %>

  <!-- Results Display -->
  <ul class="results-display">
    <% @runs.each do |run| %>
      <div class="result-link">
        <% photo_url = run.user.photo? ? run.user.photo : 'lix2bqmp4kzdpu4sqjiy' %>
        <li class="result">
          <div class="result-user">
            <%= cl_image_tag photo_url, crop: :thumb, class: "result-user-photo" %>
          </div>
          <div class="result-description">
            <h4><%= run.title.upcase %></h4>
            <h4>HOSTED BY <%= run.user.first_name.upcase %></h4>
          </div>
          <div class="result-details">
            <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
            <p><%= run.run_distance %> KM | CAPACITY: <%= run.capacity %></p>
          </div>
          <%= link_to "", run_path(run), class: "result-link-url" %>
        </li>
      </div>
    <% end %>

<%= content_for(:title, "shared.run | Run Together - Anytime, Anywhere") %>

  <script>
  // swal("Oops!", "Something went wrong on the page!", "error");
  </script>

<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'slider' %>

  <script>
    const handler = Gmaps.build("Google");
    handler.buildMap({ internal: { id: "results-map" } }, function() {
      markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>
