<div class="results-wrapper">
  <div class="side-bar">
    <a href="#" id="searchExpandBtn" class="search-expand">
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </a>
  </div>

  <!-- Results Display -->
  <div class="results-display">
    <div class="results-action">
      <h1>ALL RUNS</h1>
      <h1><%= link_to "+", new_run_path %></h1>
    </div>
    <div class="results-filters" id="filters">
      <%= render "shared/page_search" %>
    </div>
    <div class="results-box">
      <% @runs.each do |run| %>
        <% if run.capacity > 0 && (run.bookings.count < run.capacity) %>
          <% photo_url = run.user.photo? ? run.user.photo : 'lix2bqmp4kzdpu4sqjiy' %>
          <div class="result">
            <div class="result-user">
              <%= cl_image_tag photo_url, crop: :thumb, class: "result-user-photo" %>
            </div>
            <div class="result-description">
              <h4><%= run.title.upcase %></h4>
              <h5>HOSTED BY <%= run.user.first_name.upcase %></h5>
              <p><%= run.date.strftime("%b %d %Y") %> @ <%= run.time.strftime("%l:%M %p") %></p>
            </div>
            <div class="result-details">
              <p><%= run.location.upcase.match(/^(.+?),/).to_s %> <%= run.location.upcase.match(/,\s*([^,]+)$/).to_s.gsub(", ","") %></p>
              <p><%= run.run_distance %> KM | RUNNERS: <%= run.bookings.count %>/<%= run.capacity %></p>
            </div>
            <%= link_to "", run_path(run), class: "result-link-url" %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>

<div id="results-map"></div>

<%= content_for(:title, "shared.run | All Runs") %>

<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'slider' %>

  <script>
    var styles = [
                  {
                      "featureType": "all",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "saturation": 36
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 40
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#efefef"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          },
                          {
                              "weight": 1.2
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "weight": "0.5"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.province",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  // {
                  //     "featureType": "administrative.neighborhood",
                  //     "elementType": "labels.text",
                  //     "stylers": [
                  //         {
                  //             "visibility": "on"
                  //         },
                  //         {
                  //             "color": "#000000"
                  //         }
                  //     ]
                  // },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#efefef"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.man_made",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural.landcover",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.natural.terrain",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "efefef"
                          },
                          {
                              "lightness": 21
                          }
                      ]
                  },
                  {
                      "featureType": "poi.park",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#d1cfcc"
                          }
                      ]
                  },
                  {
                      "featureType": "poi.park",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color":  "#ffc93c"
                          },
                          {
                              "lightness": 0
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 29
                          },
                          {
                              "weight": 0.2
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway.controlled_access",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 18
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#efefef"
                          },
                          {
                              "lightness": 19
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#0f252e"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#ffc93c"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  }
                  ];
    const handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        // function defined in app/assets/javascript/map_styles.js
        styles: styles
      }, internal: { id: "results-map" } }, function() {
      markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });

   const searchExpandBtn = document.getElementById("searchExpandBtn");
   const filtersDiv = document.getElementById("filters");
   searchExpandBtn.addEventListener("click", (event) => {
     filtersDiv.classList.toggle("toggled");
   });
  </script>
<% end %>

</div>

