<div class="show-wrapper">

  <!-- Banner -->
  <div class="show-banner">
    <!-- Map Background -->
    <div id="show-map"></div>
    <!-- Title -->
    <div class="show-summary">
      <h1><%= @run.title.upcase %></h1>
      <h4><%= @run.location.upcase %></h4>
      <br>
      <!-- Links -->
      <h5>
        <% if policy(@run).edit? %>
          <%= link_to "EDIT", edit_run_path(@run), class: "btn btn-default" %>
        <% end %>
        <% if policy(@run).destroy? %>
          <%= link_to "DELETE", run_path(@run), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </h5>
    </div>
  </div>

  <!-- Content -->
  <div class="show-info">
    <!-- User Photo -->
    <div class="show-user-photo">
      <% photo_url = @run.user.photo? ? @run.user.photo : 'lix2bqmp4kzdpu4sqjiy' %>
      <%= cl_image_tag photo_url, height: 150, width: 150, crop: :thumb %>
    </div>
    <!-- User Information -->
    <div class="show-user-info">
      <h3><%= @run.user.first_name.capitalize %> <%= @run.user.last_name.capitalize %></h3>
      <p><%= @run.user.bio? ? "" : @run.user.bio %></p>
      <p>Sociability: <%= @run.user.sociability %></p>
      <p>Pace: <%= @run.user.pace %></p>
    </div>
    <!-- Run Description -->
    <div class="show-run-description">
      <h4>RUN DETAILS</h4>
      <p><%= @run.description %></p>
    </div>
    <!-- Run Details -->
    <div class="show-run-details">
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>LOCATION</h4>
          <p><%= @run.location %></p>
        </div>
      </div>
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-road" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>DISTANCE</h4>
          <p><%= @run.run_distance %> kilometres</p>
        </div>
      </div>
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>TIME</h4>
          <p><%= @run.time.strftime("%I:%M %p") %></p>
        </div>
      </div>
    <!-- Booking -->

      <h6><%= link_to "ðŸ‘‹ðŸ¼ SCHEDULE A RUN", new_run_message_path(@run) %></h6>
    </div>
  </div>

</div>

<!-- JavaScript -->

<%= content_for(:title, @run.title.split.map {|r| r.capitalize}.join(" ")) %>

<% content_for(:after_js) do %>

  <script>
    // Snazzy Maps - Theme: Dark No Tekst
    var styles = [
                  {
                  "featureType": "all",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "saturation": 36
                      },
                      {
                          "color": "#000000"
                      },
                      {
                          "lightness": 40
                      }
                  ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          },
                          {
                              "weight": 1.2
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.province",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "saturation": "-100"
                          },
                          {
                              "lightness": "30"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.neighborhood",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.land_parcel",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "gamma": "0.00"
                          },
                          {
                              "lightness": "74"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.man_made",
                      "elementType": "all",
                      "stylers": [
                          {
                              "lightness": "3"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 21
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 29
                          },
                          {
                              "weight": 0.2
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 18
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 19
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  }
                ];

    // Removing MapType from Google Maps
    // var mapOptions = {
    //   zoom: 14;
    //   mapTypeId: google.maps.MapTypeId.ROADMAP,
    //   disableDefaultUI: true
    // };

    // Google Maps
    var handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        styles: styles
      }, internal: { id: "show-map" } }, function() {
      markers = handler.addMarkers(
        [
          {
            "lat": <%= @run.latitude %>,
            "lng": <%= @run.longitude %>
          }
        ]
      );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });

  </script>
<% end %>
