<div class="show-wrapper">

  <!-- Banner -->
  <div class="show-banner">
    <!-- Map Background -->
    <div id="show-map"></div>
    <!-- Title -->
    <div class="show-summary">
      <h1><span><%= @run.title.upcase %></span></h1>
      <h4><span><%= @run.location.upcase %></span></h4>
      <br>
      <!-- Links -->
      <h5>
        <% if policy(@run).edit? %>
          <%= link_to "EDIT", edit_run_path(@run), class: "btn btn-default" %>
        <% end %>
        <% if policy(@run).destroy? %>
          <%= link_to "DELETE", run_path(@run), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure you want to delete?" } %>
        <% end %>
      </h5>
    </div>
  </div>

  <!-- Placeholders -->
<!--   <div class="show-user-info-placeholder padding">
    <h1>ABOUT <%= @run.user.first_name.upcase %></h1>
  </div>
  <div class="show-user-info-placeholder padding">
    <h1>RUN DESCRIPTION</h1>
  </div>
  <div class="show-run-details-placeholder padding">
    <h1>SCHEDULE A RUN</h1>
  </div> -->

  <!-- Content -->
  <div class="show-info">

    <!-- User Photo -->
    <div class="show-user-info padding">
      <div class="show-user-photo">
        <% photo_url = @run.user.photo? ? @run.user.photo : @run.user.photo %>
        <%= link_to dashboard_path(@run.user) do %>
          <%= cl_image_tag photo_url, crop: :fill, class: "show-user-avatar" %>
        <% end %>
      </div>
      <div class="show-user-contents">
        <h3><%= link_to @run.user.first_name.upcase, dashboard_path(@run.user) %></h3>
        <div class="show-user-reviews">
          <p>
            <i class="fa fa-thumbs-up user-rating" aria-hidden="true"></i> &nbsp
            <%= @user.reviews.where(punctuality: true).count %>
          </p>
        </div>
        <div class="show-user-bio">
          <% unless @run.user.bio.nil? %>
            <p><%= @run.user.bio %></p>
          <% else %>
            <p><%= @run.user.first_name.capitalize %> doesn't have a bio yet.</p>
          <% end %>
        </div>
        <!-- Booking/Share Buttons -->
        <div class="show-user-action">
          <% if policy(@run).edit? == false %>
            <%= render "bookings/form" %> &nbsp &nbsp
          <% end %>
          <%= link_to "MESSAGE", run_messages_path(@run), class: "btn btn-default" %> &nbsp &nbsp
          <div class="fb-share-button btn btn-default" data-href="https://developers.facebook.com/docs/plugins/" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcamper-rentals.herokuapp.com%2Fplugins%2F&amp;src=sdkpreparse"><i class="fa fa-facebook-square" aria-hidden="true"></i> SHARE</a></div>
        </div>
      </div>
    </div>

    <!-- Run Description -->
    <div class="show-run-description padding">
      <h4>RUN DETAILS</h4>
      <p><%= @run.description %></p>
      <div class="show-run-buddies">
        <h4>RUNNING BUDDIES (<%= @run.bookings.count %>/<%= @run.capacity %>)</h4>
        <div class="buddy-avatars">
          <% if @run.bookings.empty? %>
            <p>Be the first to schedule a run with <%= @run.user.first_name.capitalize %>!</p>
          <% else %>
            <% @run.bookings.first(10).each do |booking| %>
              <%= cl_image_tag booking.user.photo, crop: :fill, class: "buddy-photo" %>
            <% end %>
            <% if @run.bookings.count > 10 %>
              <p><i>And <%= @run.bookings.count - 10 %> more...</i></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Run Details -->
    <div class="show-run-details padding">
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>LOCATION</h4>
          <p><%= @run.location %></p>
        </div>
      </div>
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-road" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>DISTANCE</h4>
          <p><%= pluralize @run.run_distance, "kilometre" %></p>
        </div>
      </div>
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-calendar-o" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>DATE</h4>
          <p><%= @run.date.strftime("%A, %b %d %Y") %></p>
        </div>
      </div>
      <div class="run-detail">
        <div class="detail-icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="detail-content">
          <h4>TIME</h4>
          <p><%= @run.time.strftime("%l:%M %p")  %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for(:title, @run.title.split.map {|r| r.capitalize}.join(" ")) %>

<footer>
  <div class="footer-run-show">
    <div class="footer-box">
      <a href="https://github.com/lewagon"><i class="fa fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonlondon/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/lewagonlondon/"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/lewagonlondon?lang=en"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/school/5046700/"><i class="fa fa-linkedin"></i></a>
    </div>

    <div class="footer-box">
      <p><%= link_to "ABOUT", about_path %></p>
      <p><%= link_to "PRIVACY POLICY", privacy_path %></p>
      <p><%= link_to "TERMS OF SERVICE", terms_path %></p>
    </div>

    <div class="footer-copyright">
      <p>COPYRIGHT &copy; 2017 SHARED.RUN</p>
    </div>
  </div>
</footer>

<!-- JavaScript -->

<% content_for(:after_js) do %>

  <script>
    var styles = [
                  {
                      "featureType": "all",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "saturation": 36
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 40
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.text.stroke",
                      "stylers": [
                          {
                              "visibility": "on"
                          },
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "all",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          },
                          {
                              "weight": 1.2
                          }
                      ]
                  },
                  {
                      "featureType": "administrative",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "labels.text",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.province",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "saturation": "-100"
                          },
                          {
                              "lightness": "30"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.locality",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.neighborhood",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.land_parcel",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          },
                          {
                              "gamma": "0.00"
                          },
                          {
                              "lightness": "74"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 20
                          }
                      ]
                  },
                  {
                      "featureType": "landscape.man_made",
                      "elementType": "all",
                      "stylers": [
                          {
                              "lightness": "3"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 21
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "geometry.stroke",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 29
                          },
                          {
                              "weight": 0.2
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 18
                          }
                      ]
                  },
                  {
                      "featureType": "road.local",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 16
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 19
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "geometry",
                      "stylers": [
                          {
                              "color": "#000000"
                          },
                          {
                              "lightness": 17
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "labels",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  }
              ];
    // Google Maps
    var handler = Gmaps.build("Google");
    handler.buildMap({
      provider: {
        // function defined in app/assets/javascript/map_styles.js
        styles: styles
      }, internal: { id: "show-map" } }, function() {
      markers = handler.addMarkers(
        [
          {
            "lat": <%= @run.latitude %>,
            "lng": <%= @run.longitude %>
          }
        ]
      );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>
<% end %>

